:root{
    --logo_blue: #0067b8;
    --dark-blue:#2a446f;
    --logo_green: #82bc06;
    --logo_red:#f45326;
    --logo_yellow:#ffbb08;
    --xbox_green:#3ea13f;
    --gray:#363636;
    --light-gray:#f2f2f2;
    --white:white;
    --microsoft_365_blue:#091f2c;
    --background_color:#f4fafd;
}